.border-blue{
    border-color: #1724ab;
  }
  
  .title-bold{
    font-weight: bold;
  }
  
  .input-size{
    width: 87px;
    height: 25px;
  }
  
  .button-style{
    min-width: 170px !important;
    border-color: #63699c5b;
  }
  
  .filter-button{
    display: contents;
  }
  
  .about-button{
    display: inline-block;
    text-align: center;
    background: #63699c5b;
    color: white;
    min-width: 25px;
    border-radius: 5px;
  }